[Unit]
Description=Smearor Swipe Launcher
After=graphical-session.target

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/usr/lib/smearor
ExecStart=/usr/bin/smearor-swipe-launcher
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=default.target
