[Unit]
Description=Smearor Swipe Launcher (GNOME)
After=gnome-session.target
Requires=gnome-session.target

[Service]
Type=simple
ExecStart=/usr/bin/smearor-swipe-launcher
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=gnome-session.target
